<div class="site-banner">
    <!--<img src="http://www.redorbit.com/media/uploads/2014/03/senior-thinkstock-57283917-617x416.jpg" alt=""/>-->

    <div class="main-page-wrapper slogan">

        <p class="first-line">
            Вирішуй проблеми
        </p>
        <h2>Razom<span>.in.ua</span></h2>


        <div class="row b-with-links">
            <div class="col-lg-6">
                <p class="block-title"> Щось заважає жити?</p>
                <p class="second-line">Інфоромуй про проблеми й знаходь однодумців для їх вирішення</p>
                <a href="#" class="btn btn-success btn-sm"><i class="fa fa-mail-forward"></i> Розпочни сам </a>
            </div>
            <div class="col-lg-6">
                <p class="block-title"> Є час й надхнення допомогти?</p>
                <p class="second-line">Долучайся до реалізації <br/> поліпшень</p>
                <a href="issues" class="btn btn-success btn-sm"><i class="fa fa-mail-forward"></i> Заходь </a>
            </div>
        </div>


    </div>


</div>
<div class="success-stories-section">
    <div class="main-page-wrapper">
        <h3><span>Ми це вже змінили</span></h3>
    </div>
    <div class="b-striped-wrapper">
        <div class="main-page-wrapper">
            <div class="row success-stories-section">
                <div class="col-lg-4 success-stories-item">
                    <div class="success-stories-img"></div>
                </div>
                <div class="col-lg-4 success-stories-item">
                    <div class="success-stories-img"></div>
                </div>
                <div class="col-lg-4 success-stories-item">
                    <div class="success-stories-img"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="">
    <div class="main-page-wrapper">
        <h3><span>Проблеми поблизу</span></h3>
    </div>
    <div class="main-page-wrapper">
        <div id="map_canvas" style="height: 300px;"></div>
    </div>
</div>

<div class="b-how-it-works b-big-shade">
    <div class="main-page-wrapper">
        <h3><span>Як це працює</span></h3>
    </div>
    <div class="b-striped-wrapper">
        <div class="main-page-wrapper">
            <div class="row   ">
                <div class="col-xs-6 col-sm-3">
                    <div class="content">
                        <div class="icon">
                            <i class="fa fa-bullhorn fa-3x"></i>
                        </div>
                        <p class="description">
                            Інформуй про проблеми свого міста на сайті чи за допомогою мобільного додатку
                        </p>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="content">
                        <div class="icon">
                            <i class="fa fa-bullhorn fa-3x"></i>
                        </div>
                        <p class="description">
                            Інформуй про проблеми свого міста на сайті чи за допомогою мобільного додатку
                        </p>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="content">
                        <div class="icon">
                            <i class="fa fa-bullhorn fa-3x"></i>
                        </div>
                        <p class="description">
                            Інформуй про проблеми свого міста на сайті чи за допомогою мобільного додатку
                        </p>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="content">
                        <div class="icon">
                            <i class="fa fa-bullhorn fa-3x"></i>
                        </div>
                        <p class="description">
                            Інформуй про проблеми свого міста на сайті чи за допомогою мобільного додатку
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</div>



<!--<div class="row success-stories-section">
    <div class="col-lg-4 success-stories-item">
      <div class="success-stories-img"></div>
    </div>
    <div class="col-lg-4 success-stories-item">
      <div class="success-stories-img"></div>
    </div>
    <div class="col-lg-4 success-stories-item">
      <div class="success-stories-img"></div>
    </div>
 </div>-->
</div>
