<div class="site-banner">
    <!--<img src="img/main-banner.jpg" alt=""/>-->
</div>
<div class="main-page-wrapper">
    <div class="row success-stories-section">
        <div class="col-lg-4 success-stories-item">
        </div>
        <div class="col-lg-4 success-stories-item">
        </div>
        <div class="col-lg-4 success-stories-item">
        </div>
    </div>
</div>
<div id="h-content-wrapper"></div>