<img src="http://www.redorbit.com/media/uploads/2014/03/senior-thinkstock-57283917-617x416.jpg" alt=""/>

<div class="slogan">
    <span>
        Vurishuy problemu
    </span>
    <span>Razom</span><span>.in.ua</span>
    <span>Shos' zavagae zhutu?</span>


    <div class="row">
        <div class="col-lg-6">

            <p>
                bla-bla-bla
            </p>

        </div>
        <div class="col-lg-6">

            <p>
                bla-bla-bla
            </p>

        </div>
    </div>


</div>