<div class="site-banner">
    <!--<img src="http://www.redorbit.com/media/uploads/2014/03/senior-thinkstock-57283917-617x416.jpg" alt=""/>-->

    <div class="main-page-wrapper slogan">
    <p class="first-line">
        Vurishuy problemu
    </p>
        <h2>Razom<span>.in.ua</span></h2>
        <span>Shos' zavagae zhutu?</span>


        <div class="row">
            <div class="col-lg-6">

                <p>
                    bla-bla-bla
                </p>

            </div>
            <div class="col-lg-6">

                <p>
                    bla-bla-bla
                </p>

            </div>
        </div>


    </div>


</div>
<div class="main-page-wrapper">
    <div class="row success-stories-section">
        <div class="col-lg-4 success-stories-item">
        </div>
        <div class="col-lg-4 success-stories-item">
        </div>
        <div class="col-lg-4 success-stories-item">
        </div>
    </div>
</div>
<div id="h-content-wrapper"></div>